<!--
============================================
; Title: nodebucket
; Author: Professor Krasso
; Date: 21 August 2022
; Modified By: Seth Kerrey
; Description: nodebucket not-found component
; Code Attribution: Additional code from buwebdev
;===========================================
-->


<div class="div-top">
  <!-- image from https://harrypotter.fandom.com/wiki/Hufflepuff -->
  <img class="img-fluid" src="/assets/hufflepuff_logo_51x57.png">
  Page Not Found
</div>

<div fxLayout="column" class="div-column">

  <div fxFlex>
    <mat-card class="mat-elevation-z8 signin-container" style="padding: 20px;">
      <mat-card-content>

        <div class="div-image">
          <!-- owl image from unsplash by Adriano Pinto https://unsplash.com/photos/j4VUYdQJEj8-->
          <img src="/assets/404.png" alt="404">
        </div>

        <div class="div-text">
          Oops!
          <br><br>
          You didn't reak the internet, but we can't find what you were looking for.
          <br><br>
        </div>

        <mat-card-actions>
          <button class="home-button" role="button" routerLink="/">Return Home</button>
        </mat-card-actions>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="div-bottom">
  Crafted by love by © Seth Kerrey 2022
</div>


