<!--
============================================
; Title: nodebucket
; Author: Professor Krasso
; Date: 21 August 2022
; Modified By: Seth Kerrey
; Description: nodebucket about component
; Code Attribution: Additional code from buwebdev
;===========================================
-->

<div fxLayout="column">

  <div fxFlex>
    <mat-card class="mat-elevation-z8">

      <mat-card-title style="text-align:center;margin-bottom:70px;padding-top:15px;">About Nodebucket</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>

        <!-- About row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-left">
            What is Nodebucket?
          </div>
          <div fxLayout="column" class="div-column-right">
            <span>
              <span class="text-enhance">Nodebucket is a task management solution</span> created as a MEAN Stack App (MongoDB, Express, Angular, and Node.js). Nodebucket helps to keep track of items and tasks within a workforce or organization. Tasks can be created, edited, deleted, and moved within categories or columns. MongoDB is used for data persistence, Express is used for routing and server-side logic, Angular is for user interactions, and Node.js is used for editing and returning saved records.
            </span>
          </div>
        </div>

        <!-- Application row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-right-reverse">
            <span>
              <span class="text-enhance">With a user-friendly interface,</span> Nodebucket incorporates the drag-n-drop feature to all its tasks, allowing its users to freely move tasks as they see fit. A member of House Hufflepuff can use the Nodebucket application for anything ranging from managing wizardly tasks to keeping track of To Do lists while attending Hogwarts. Students and staff alike can utilize the add task feature to create new tasks. The edit feature to edit those features. The delete feature which is found when right-clicking a task to delete their tasks. Students and teachers can also create new task columns on top of the presets of To Do, Doing, and Done.
            </span>

          </div>
          <div fxLayout="column" class="div-column-left-reverse">
            How does it work?
          </div>
        </div>

        <!-- History row -->
        <div fxLayout="row" class="div-row" fxLayoutAlign="start start">
          <div fxLayout="column" class="div-column-left-2">
            Our History
          </div>
          <div fxLayout="column" class="div-column-right-2" style="margin-left:60px;">
            <span>
              <span class="text-enhance">Founded by Helga Hufflepuff,</span> one of the original creators of the houses at Hogwarts School of Witchcraft and Wizardry, Nodebucket was intended to help the Hufflepuff house to become the greatest house in all of Hogwarts. Nodebucket was created in light to reflect the values that House Hufflepuff adheres to including hard work, dedication, patience, loyalty, and fair play in all its members. The capabilities that Nodebucket provides its house members exemplifies these values.
            </span>

          </div>
        </div>



      </mat-card-content>
    </mat-card>
  </div>
</div>
