<!--
============================================
; Title: nodebucket
; Author: Professor Krasso
; Date: 21 August 2022
; Modified By: Seth Kerrey
; Description: nodebucket home component
; Code Attribution: Additional code from buwebdev
;   drag-n-drop code from material.angular.io [ref:A]
;     https://material.angular.io/cdk/drag-drop/examples
;===========================================
-->

<mat-card class="mat-elevation-z8">
  <mat-card-title style="text-align: center;">
    Workspace
  </mat-card-title>
  <br><br>
  <mat-card-content>

    <!-- Column start -->
    <div fxLayout="column">

      <!-- Row 1 TASK INPUT -->
      <div fxLayout="row">
        <div fxFlex>
          <div class="task-container mat-elevation-z4" fxLayout="column">
            <mat-card>
              <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset()">
                <mat-form-field appearance="fill" style="width: 100%">

                  <input
                    matInput
                    name="task"
                    formControlName="task"
                    placeholder="Enter a task name..." />

                    <!-- Create a button with a suffix to place at end of field. -->
                    <button type="submit" [disabled]="!taskForm.valid" mat-icon-button matSuffix>
                      <mat-icon color="primary" style="width: 36px; height: 36px; font-size: 36px;" matSuffix>add_circle</mat-icon>
                    </button>

                </mat-form-field>

                <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
                  Task is a required field.
                </mat-error>

                <mat-error *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
                  The task field must be at least 3 characters in length.
                </mat-error>

                <mat-error *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
                  The task field cannot exceed 35 characters in length.
                </mat-error>
              </form>
            </mat-card>
          </div>
        </div>
      </div><!-- end row 1 -->

      <br><br>

      <!-- Row 2 TODO/DOING/DONE -->
      <div fxLayout="row">

        <!-- Column 1 TODO -->
        <div fxFlex>

          <mat-card class="mat-elevation-z0">
            <mat-card-title>ToDo</mat-card-title>

            <mat-card-content>

              <div class="task-column">
                <div *ngFor="let item of todo">
                  <mat-card class="mat-elevation-z0 task-card">
                    <mat-card-content>

                      <div fxLayout="row">
                        <div fxFlex>
                          {{ item.text }}
                        </div>
                      </div>

                    </mat-card-content>
                  </mat-card>
                </div>
                <!-- End of the for loop. -->
              </div>

            </mat-card-content>
          </mat-card>
        </div><!-- end column 1-->

        <!-- Column 3 DOING -->
        <div fxFlex>
          <mat-card class="mat-elevation-z0">

            <mat-card-title>Doing</mat-card-title>

            <mat-card-content>

              <div class="task-column">
                <div *ngFor="let item of doing">

                  <mat-card class="mat-elevation-z0 task-card">
                    <div fxLayout="row">

                      <div fxFlex>
                        {{ item.text }}
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div><!-- end column 3-->

        <!-- Column 3 DONE -->
        <div fxFlex>
          <mat-card class="mat-elevation-z0">

            <mat-card-title>Done</mat-card-title>

            <mat-card-content>

              <div class="task-column">
                <div *ngFor="let item of done">

                  <mat-card class="mat-elevation-z0 task-card">
                    <div fxLayout="row">

                      <div fxFlex>
                        {{ item.text }}
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div><!-- end column 3-->

      </div><!-- end row 2 -->

    </div><!-- end column -->
  </mat-card-content>
</mat-card>

