/*
============================================
; Title: nodebucket
; Author: Professor Krasso
; Date: 21 August 2022
; Modified By: Seth Kerrey
; Description: nodebucket home component styling
; Code Attribution: Additional code from buwebdev
;   drag-n-drop code from material.angular.io [ref:A]
;     https://material.angular.io/cdk/drag-drop/examples
;===========================================
*/

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

/* [/ref:A] */

.task-container {
  min-width: 50%;
  max-width: 75%;
  margin: 0 auto;
}

.task-column {
  border: 1px solid #ccc;
  min-height: 68px;
  min-width: 50%;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task-card {
  cursor: move;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  min-height: 68px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
