<!--
============================================
; Title: nodebucket
; Author: Professor Krasso
; Date: 21 August 2022
; Modified By: Seth Kerrey
; Description: nodebucket base layout component
; Code Attribution: Additional code from buwebdev
;===========================================
-->

<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>nodebucket</button>

          <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" routerLink = "/about" mat-button>About</button>
          <button class="navbar-link" routerLink = "/contact" mat-button>Contact</button>
          <button class="navbar-link" mat-button (click)="signOut()">Sign Out</button>

      </div>

    </mat-toolbar>
  </nav>

  <!-- Main content -->
  <div fxLayout="row" style="padding:15px;">

    <!-- Left container -->
    <div fxFlex="10">
      <div class="left-container">

        <!-- image from https://harrypotter.fandom.com/wiki/Hufflepuff -->
        <img class="img-fluid" src="/assets/hufflepuff_logo_125x139.png" alt="hufflepuff logo">
        <br><br>

        <div class="toolbar-left">Workspace</div>
          <button mat-button>
            <mat-icon>laptop</mat-icon>
          </button>

          <div class="toolbar-left">Members</div>
          <button mat-button>
            <mat-icon>person</mat-icon>
          </button>
          <button mat-button>
            <mat-icon>person</mat-icon>
          </button>
          <button mat-button>
            <mat-icon>person_add</mat-icon>
          </button>

          <div class="toolbar-left">Settings</div>
          <button mat-button>
            <mat-icon>settings</mat-icon>
          </button>
      </div>
    </div>

    <!-- Main container -->
    <div fxFlex="80" style="padding:0 15px">
      <main class="main-container">
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- Right container -->
    <div fxFlex="10">
      <div class="right-container">
        <h2 style="text-align:center;">Quick Links</h2>
      </div>
    </div>

  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
